<footer>
   <nav class="grid">
	    <a href="mailto:votrenom@bidule.com">Contactez-nous</a>
	    <a href="mentions_legales.html">Mentions légales</a>
	    <p id="foo01">Partagez !<br>
	        <a href="https://www.facebook.com/" target="_blank"><img src ="{{ asset('img/facebook.png') }}" target="_blank" alt="Logo Facefook"/></a>
	        <a href="https://twitter.com/" target="_blank"><img src ="{{ asset('img/tweeter.png') }}" target="_blank" alt="Logo Tweeter"/></a>
	    </p>
    </nav>
</footer>
