<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Footer</title>
<link rel="stylesheet" href="style.css" type="text/css" /> 
</head>
<body>
    <footer>
           <nav>
            <a href="mailto:votrenom@bidule.com">Contactez-nous</a>
            <a href="mentions_legales.html">Mentions légales</a>
            <p id="foo01">Suivez-nous</p>
            <a href="https://www.facebook.com/" target="_blank"><img src ="images/facebook.png" target="_blank" alt="Logo Facefook"/></a>
            <a href="https://twitter.com/" target="_blank"><img src ="images/tweeter.png" target="_blank" alt="Logo Tweeter"/></a>
        </nav>
        
    </footer>
</body>
</html>
