<header class="full grid" id="header">
	<h1><a href="{{ path('home') }}" id="homeLink">Lille & <span class="segoe">Bio</span></a></h1>
    <nav>
    	<a href="{{ path('mes_reservations') }}">Mes réservations</a>
	    <a href="restaurateur.php">Restaurateur</a>
	    <a href="{{ path('aide_utilisateurs') }}">Aide</a>
    </nav>
</header>
