<header class="grid">
	<h1>Lille & <span class="segoe">Bio</span></h1>
    <nav>
	    <a href="restaurateur.php">Restaurateur</a>
	    <a href="{{ path('aide_utilisateurs') }}">Aide</a>
    </nav>
</header>
