
<form name="mon 1er formulaire" method="post" action="un_script.php">

	<table border = 1px>

		<colgroup span = "4" style="background : white">

<tr>

		<td> 
			<select name = "date">
				<option value = "01/01/17">01/01/2017</option>
				<option value = "02/01/17">02/01/2017</option>
				<option value = "03/01/17">03/01/2017</option>

			</select>

		</td>


		<td>
			<input id="nombre personnes" type="text" placeholder="nbre personnes" size = "5px">
		</td>


		<td>
			<select name = "catégorie"> 

				<option value = "Européen">Européen</option>
				<option value = "Asiatique">Asiatique</option>
				<option value = "Africain">Africain</option>
			</select>
		</td>


		<td>
			<input class="loupe" type="submit" value = " "  />
			<img src="images/loupe.png">
		</td>

</tr>

	</colgroup>

</table>


</form>