
<nav>
	<a href="restaurateur.php">restaurateur</a>
	<a href="aide.php">Aide</a>
</nav>

<body>

<div>

<p>Titres</p>

<p>Ville</p>

<select name = "ville">

<option value = "Lille">Lille</option>
<option value = "Paris">Paris</option>
<option value = "Lyon">Lyon</option>

 </select>

 </div>

 <p>Catégories</p>

 <p>Française</p>
 <p>Mexicain</p>
 <p>Thailandais</p>
 <p>Tradi ch'ti</p>
 <p>Végétarien</p>
 <p>Pizzeria</p>
 <p>Italien</p>
 <p>Créole</p>
 <p>Burger</p>
 <p>Indien</p>
 <p>Chinois</p>
 <p>Japonais</p>

 <p>Etoiles</p>


</div1>

</body>

</html>