<!doctype html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
		<link href="{{ asset('/lib/knakcss.min.css') }}" rel="stylesheet">

	</head>
	<body>
		<h1>Page d'accueil du site !</h1>

		<a href="{{ path('dragon_liste') }}">Accéder à la liste</a>
	</body>
</html>