<!doctype html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
		<link href="{{ asset('/lib/knakcss.min.css') }}" rel="stylesheet">

	</head>
	<body>
		{% block content %}
	    {% endblock %}
	</body>
</html>