{% extends 'layout_fullscreen.html.twig' %}

{% block content %}
<section>
    <h1 class="titre">Mentions légales</h>
    <hr><br/>

<!--Ancres-->

    <p>
        <a href="#ancre1">I. Termes et Conditions d’Usage de notre Site Internet et de Ventes</a><br/>
        <a href="#ancre2">1. Introduction / Notre rôle</a><br/>
        <a href="#ancre3">2. Accès au site internet et conditions d’utilisation</a><br/>
        <a href="#ancre4">3. Votre statut</a><br/>
        <a href="#ancre5">4. Passer une commande et description du processus de vente</a><br/>
        <a href="#ancre6">5. Licence</a><br/>
        <a href="#ancre7">6. Accès au service</a><br/>
        <a href="#ancre8">7. Informations usagers et avis clients</a><br/>
        <a href="#ancre9">8. Liens vers ou venant d’autres pages internet</a><br/>
        <a href="#ancre10">9. Cas d’exclusions de notre responsabilité</a><br/>
        <a href="#ancre11">10. Limitation de responsabilité</a><br/>
        <a href="#ancre12">11. Fin des relations</a><br/>
        <a href="#ancre13">12. Communications écrites / preuve</a><br/>
        <a href="#ancre14">13. Événements extérieurs à notre contrôle</a><br/>
        <a href="#ancre15">14. Dispositions additionnelles</a><br/>
        <a href="#ancre16">15. Loi applicable et competence juridictionnelle</a><br/><br/>
        <a href="#ancre17">II.	Politique de confidentialité et de protection de la vie privée</a><br/>
        <a href="#ancre18">1. Nature des renseignements recueillis</a><br/>
        <a href="#ancre19">2. Utilisation de vos informations</a><br/>
        <a href="#ancre20">3. Divulgation de vos informations</a><br/>
        <a href="#ancre21">4. Sécurité et conservation des données</a><br/>
        <a href="#ancre22">5. Accès et mise à jour - droit de communication - droit de rectification</a><br/>
        <a href="#ancre23">6. Modifications de notre politique de protection des renseignements personnels</a><br/>
        <a href="#ancre24">7. Contact</a><br/>

 <!--Texte mentions légales-->    
    
        <h2 class="soustitre">Conditions générales d'utilisation du servce et de prestation de service du site Lille & Bio</h2><br/><br/>
        

        NOTE TRÉS IMPORTANTE<br/><br/>

        Sur cette page figurent les conditions générales (ci-après « Conditions générales de prestation de service ou CGPS ») qui s’appliquent à toute connexion à notre site internet et / ou à toute prestation de service de la Lille & Bio à laquelle l’utilisateur a accès soit au travers de notre site internet [site]. <br/><br/>
        Veuillez prendre connaissance attentivement de ces CGPS qui s’appliquent à toute utilisation de nos services, toute connexion sur notre  site internet  et toute réservation enregistrée au travers du  site internet. En commandant au travers de notre site internet  vous acceptez expressément et sans réserves ces « CGPS » comme gouvernant nos rapports actuels et futurs, et ce à l’exclusion de toute autre Conditions générales d’achat dont vous seriez les auteurs.<br/><br/>

        A tout moment, « nous » nous réservons le droit de modifier ces « CGPS », modifications qui seront immédiatement applicables dès leur publication sur cette page. Vous pouvez donc effectuer une capture des présentes « CGPS » pour en conserver une trace.<br/>

        Toutes les utilisations de vos informations personnelles sont soumises à la « politique de confidentialité et de respect des données privées » et « politique d'utilisation des cookies ».<br/>

        Ces CGPS s’appliqueront à toute modification du  site internet, à toute nouvelle version du  site internet  Lille & Bio et ce quel que soit le mode d’accès et la plateforme technique actuelle ou future.<br/>
        Par vos réservations, vous acceptez expressément l’application des CGPS ci-dessous précisées.<br/>

        Prenez connaissance attentivement des clauses 2.4, 3, 4.2., 7, 9, 11, 12, 17.<br/><br/>

        <div id="ancre1"><h2 class="soustritre">I.	Termes et conditions d'usage de notre site internet et de ventes</h2></a><br/><br/>

        <div id="ancre2">1.	Introduction / Notre rôle</div><br/><br/>

        1.1.	Identification de notre société Lille & Bio [adresse]<br/>
        1.2.	Nature de notre service : nous sommes un intermédiaire vous permettant de transmettre vos réservations auprès de restaurants qui sont nos partenaires restaurants présents sur le  site internet. Prenez connaissance de l’article 11 qui précise les relations entre vous, « nous », et les « restaurants ».<br/><br/>

        <div id="ancre3">2.	Accès au site internet et conditions d'utilisation</div><br/><br/>

        2.1.	Accès : la plupart des pages de note site internet sont libres et n’imposent pas de passer commande.<br/>
        2.2.	En consultant une ou plusieurs des pages de note site web, vous acceptez que les présentes CGPS s’appliquent à l’exclusion de toute autre à nos relations. En cas de non acceptation de ces CGPS, nous vous invitons à ne pas consulter notre site.<br/>
        2.3.	« Nous » nous réservons le droit de modifier, sans autre notification que la publication de ces modifications sur cette page de notre site internet, nos CGPS. Consultez régulièrement les présentes « CGPS » pour prendre connaissance de toute modification. La version des CGPS qui s’applique est celle en vigueur au jour de la  réservation ou de votre consultation du  site internet.<br/>
        2.4.	Responsabilité : vous êtes seul tenu d’assurer l’ensemble des moyens techniques vous donnant accès à notre site internet. Vous êtes également responsable de toute personne qui se connecterait à notre site en utilisant votre connexion internet qui sera réputé connaître les présentes CGPS et devra les respecter. Notamment nous ne saurions être responsables des connexions de mineurs utilisant votre installation technique.<br/><br/>

        <div id="ancre4">3.	Votre statut</div><br/><br/>

        3.1.	Capacité juridique, âge : en effectuant toute réservation, vous attestez de manière ferme et sous votre propre et unique responsabilité que :<br/>
        3.1.1.	vous avez pleine capacité de jouissance et d’exercice pour contracter avec nous ;<br/>
        3.1.2.	vous avez 18 ans révolus ;<br/>
        3.1.3.	toute Réservation passée pour le compte d’un mineur, ou en son nom, et comportant une ou des boissons alcooliques si nous en avons connaissance, sera refusée. Il vous appartient de respecter les dispositions de l’article 3.1.2. et, le cas échéant, leur violation engage votre responsabilité personnelle exclusive.<br/><br/>

        <div id="ancre5">4.	Passer une commande et description du processus de vente</div><br/><br/>

        4.1.	Vérification de votre Réservation : une fois que vous avez sélectionné le « restaurant » et que vous avez fournis les autres informations nécessaires, vous aurez la possibilité de valider votre réservation en cliquant sur un bouton « réserver ». Il est important que vous vérifiiez à ce stade la liste de commande. Après avoir cliqué, votre réservation est générée définitivement et automatiquement auprès du restaurant.<br/>
        4.2.	Modifier ou annuler une commande : vous avez possibilité d’annuler ou de rectifier la commande après confirmation définitive. En cas de problème persistant, vous pouvez néanmoins contacter sans délai notre service client comme décrit à l’article 4.7. qui essaiera de contacter le restaurant pour annuler cet ordre ou obtenir son accord sur une modification de votre réservation.<br/>
        4.3.	Confirmation de réservation : après chaque réservation, un mail de confirmation vous est envoyé à l’adresse mail renseignée.<br/>
        4.4.	Processus de réservation :le  restaurant peut refuser pour des motifs exceptionnels (délais de traitement de réservation, heure de réservation, restaurant complet...) des réservations. Dès que votre réservation est validée sur le site internet, elle est transmise au  restaurant. Notez que tout message de confirmation de votre réservation de notre part n’implique pas une confirmation de traitement de la réservation de la part du  restaurant. Notre politique est d’obtenir une confirmation aussi rapide que possible de la réservation est enregistrée par le restaurant et nous vous informons aussi rapidement que possible de l’état de votre réservation. Néanmoins, cette information dépend essentiellement du  restaurant.<br/>
        4.5.	Ne transmettez vos informations bancaires sous aucun prétexte. En aucun cas un moyen de paiement  ne devrait vous être demandé. <br/>
        4.6.	Nous nous réservons le droit de refuser toute nouvelle réservation d’un précédent client avec lequel un litige serait intervenu.<br/>
        4.7.	Comme indiqué à l’article 4.2., en cas de modification de réservation validée, le site tentera d’obtenir l’approbation du Restaurant sur la modification de réservation souhaitée par le Client. Néanmoins, le restaurant reste libre de ne pas accéder à cette requête pour toute réservation.<br/><br/>

       <div id="ancre6">5. Licence</div><br/><br/>

        5.1.	Usage autorisé : vous êtes autorisé à utiliser le présent site internet, copier et télécharger tout extrait du site internet pour votre usage strictement privé, et dans les cas suivants :<br/>
        5.1.1.	tout usage du site internet doit être effectué en fonction de sa finalité (la prise de réservation) et sans intention de nuire (ceci exclut notamment, toute tentative de piratage et toute tentative de « web scraping ») ;<br/>
        5.1.2.	sauf en cas d’autorisation expresse et préalable, la propriété intellectuelle sur le site internet, sa structure et tout droit sur les marques déposées et les dénominations utilisées (ceci incluant notamment les images et le graphisme) sont la propriété exclusive de Lille & Bio et / ou des propriétaires lui accordant une licence à ce sujet. L’ensemble de ces créations et marques sont protégées par les lois et règlements relatifs et l’ensemble des traités internationaux applicables à la matière, et tous droits sont expressément réservés. Tout usage d’extraits du site internet, de capture d’écran, pour un usage non autorisé prévu à l’article 5.1. est totalement interdits ;<br/> 
        5.1.3.	vous ne pouvez modifier à aucun titre les copies digitales ou les copies papier de toute copie d’un extrait du site internet et vous ne pouvez faire usage de photo(s), d’image(s), de toute partie de graphique(s), de vidéo(s), ou de bande(s) sonore(s) autrement qu’accompagné du texte et de l’ensemble correspondant, dans son contexte ;<br/>
        5.1.4.	vous devez assurer que dans tous les cas et pour tout usage que vous en feriez conformément à l’article 5.1., la qualité d’auteur de la société Lille & Bio et / ou des  restaurant(s) et la protection de ces éléments au titre des droits de propriété intellectuelle et des droits des marques soient clairement indiqués. Le renvoi aux présentes CGPS est nécessaire en cas de telles reproductions ou emprunt de tout élément couverts par la dite propriété intellectuelle ou le droits sur des marques protégées (Lille & Bio) ;<br/>
        5.1.5.	vous n’êtes pas autorisés à l’usage commercial à quelque titre que ce soit d’un quelconque élément du « site internet » ou des copies que vous pourriez avoir sans accord préalable et écrit de notre part, au titre d’un droit de licence.<br/>
        5.2.	Limitation au droit d’usage : à l’exception des conditions d’utilisations définies à l’article 5.1., le site internet ou un quelconque de ses éléments ne peut ni être reproduit, ni stocké, ni faire l’objet d’une capture dans tout autre site internet, toute application électronique qu’elle soit ouverte au public ou privé, et dans tout service sans l’autorisation préalable et écrite de Lille & Bio.<br/>
        5.3.	Droits réservés : tous droits non expressément réservés ou autorisés au titre des présentes CGPS à l’usager sont exclus.<br/><br/>

        <div id="ancre7">6.	Accès au service</div><br/><br/>

        6.1.	Disponibilité d’accès au site internet : bien que nous fassions nos meilleurs efforts afin d’assurer une disponibilité d’accès au site 24H sur 24, nous ne saurions être tenus pour responsable à aucun titre d’une interruption de cet accès quel qu’en soit le motif, quelle qu’en soit la durée.<br/>
        6.2.	Suspension de l’accès : l’accès au site internet peut être suspendu vis à vis d’un usager ou de tous, à tout moment et sans préavis quelconque.<br/>
        6.3.	Informations sur la sécurité : la transmission d’informations par internet peut ne pas être totalement sécurisée. Bien que nous prenions l’ensemble des dispositions requises par la loi pour protéger l’ensemble de vos informations sur notre site, nous ne pouvons garantir que la transmission des données à notre site internet soit protégée. Cette transmission intervient à vos risques. Reportez-vous à notre politique de confidentialité pour toute information sur les mesures que nous prenons pour protéger vos informations.<br/><br/>

        <div id="ancre8">7.	Informations usagers et avis clients</div><br/><br/>

        7.1.	Généralités :<br/>
        7.1.1.	toute information autre que celles des coordonnées et détails relatifs à la personne (information couverte par la politique de confidentialité) seront considérés comme non confidentielles et libres au titre de tous droits de propriété intellectuelle. Vous acceptez en outre que nous n’ayons aucune responsabilité et aucune obligation quelconque au titre de ces contenus (textes, images, photos, sons) de restitution, de suppression, de contrôle ou de préservation, et que nous pouvons en faire tout usage qui nous semblerait approprié tel que copie partielle ou totale, reproduction, distribution, incorporation pour un usage commercial ou non commercial et ce qu’elle qu’en soit la forme ;<br/>
        7.1.2.	Vous déclarez et garantissez que ces informations usager que vous nous transmettez ne contreviennent pas à l’une ou plusieurs des restrictions figurants aux articles 7.2. et 7.3. ci-dessous.<br/>
        7.2.	Politique relative aux informations usagers : vous n’êtes pas autorisés à transmettre à notre site internet toute information usager (ceci incluant des avis clients) qui :<br/>
        7.2.1.	contreviendrait à des lois internationales ou nationales (notamment diffamation, injure, atteinte quelconque à la liberté d’expression...) ;<br/>
        7.2.2.	est illégale, ou fausse, ou frauduleuse ;<br/>
        7.2.3.	constituerait une publicité non autorisée, exagérée, inexacte ou tendancieuse ;<br/>
        7.2.4.	contient tout virus, ou tout autre dispositif technique pouvant endommager le site internet, le rendre non fonctionnel, ou tendant à le pirater.<br/>
        7.3.	Droit de communication : Vous êtes informés et vous acceptez que nous coopérerions, le cas échéant, et à leur requête, dans les cadres légaux applicables, à toute demande de communication avec toute autorité administrative ou judiciaire titulaire d’un droit de communication, qui solliciterait la révélation de l’origine et de l’identité de l’émetteur d’une « information usager » dont nous serions destinataires et qui contreviendrait à une obligation légale ou réglementaire quelconque, et vous acceptez dès à présent que notre responsabilité ne pourra être engagée à aucun titre en cas de respect d’un droit de communication d’une autorité administrative ou judiciaire.<br/>
        7.4.	Consultez attentivement nos Conditions générales d’utilisation (dans nos mentions légales) pour des informations plus complètes sur toutes les réglementations applicables aux avis usagers.<br/><br/>
        
        <div id="ancre9">8.	Liens vers ou venant d’autres pages internet</div><br/><br/>

        8.1.	Sites internet de tiers : les liens renvoyant du site internet vers d’autres sites internet ou pages sont fournis à seule fin de confort de l’usager. En cliquant sur ces liens, vous sortez du site internet. Nous ne procédons à aucun contrôle des sites de tiers et nous déclinons toute responsabilité relative à ces sites internet de Tiers, leur disponibilité, leur sécurité et leur contenu. Nous ne garantissons en aucun cas les éditeurs de tels sites et n’acceptons aucune responsabilité liée à l’utilisation de tels sites. Si vous décidez d’être redirigé vers un site tiers, vous le faîtes sous votre unique responsabilité.<br/>
        8.2.	Autorisation de créer des liens : vous pouvez mettre en place un lien entre la page de garde du site [adresse du site] et votre propre site, sous réserve :<br/>
        8.2.1.	que ce lien repose sur une intention loyale, qu’il soit conforme à l’ensemble des dispositions légales applicables, notamment, en ne portant aucune atteinte à notre clientèle et en ne nuisant pas ou en ne profitant pas de notre réputation ;<br/>
        8.2.2.	que ce lien relie le site internet  à un site vous appartenant, et ce site n’ayant aucune apparence trompeuse qui pourrait laisser penser à l’usager peu diligent qu’il existe un rapport entre ce site et notre site internet, ou que ce site est exploité par notre société, ou en collaboration et/ou avec le soutien de notre société ;<br/>
        8.2.3.	que le site relié respecte les conditions de tout « contenu usager » décrit à l’article 8 ;<br/>
        8.2.4.	étant entendu que dans tous les cas, Lille & Bio se réserve le droit de mettre un terme à cette liaison, à n’importe quel moment, sans préavis, pour n’importe quel motif, et sans indemnité aucune.<br/><br/>

        <div id="ancre10">9.	Cas d’exclusions de notre responsabilité</div><br/><br/>

        9.1.	Réserve générale sur l’Information disponible sur le site internet : nous essayons de fournir une information exacte, mais ne pouvons garantir qu’elle est vraie, ni qu’elle est complète. Nous pouvons modifier à tout moment le contenu de ces informations, leur présentation, le contenu de nos services, des produits, des prix, sans préavis. Le contenu informatif peut ne pas être actualisé, mais nous ne prenons aucun engagement à ce titre, et déclinons toute responsabilité. <br/>
        9.2.	Cas particulier des « informations menu », allergies et informations diététiques : nous faisons notre possible afin que les descriptions, les compositions des plats, leur prix, les offres spéciales et leurs conditions, leur caractère chaud, épicé, et des avertissements relatifs à certaines allergies (« les informations menus ») qui nous sont communiqués par les restaurants, soient les plus précises possibles. Néanmoins, les  restaurants sont les seuls responsables de la véracité de ces informations et du maintien, sans modification, des compositions annoncées dans le « menu ». Nous ne garantissons en aucun cas les compositions des menus. Toute personne connaissant une allergie est, en cas de doute sur une composition, un avertissement relatif à une allergie d’un menu, invitée très vivement à obtenir confirmation préalable du « restaurant » avant toute commande en le contactant directement, ou en contactant notre service client qui tentera d’obtenir une confirmation expresse avant commande.<br/>
        9.3.	Action et omission des  restaurants, le contrat de prestation de service pour la fourniture et livraison des « produits » est conclu entre vous et le restaurant. Le restaurant que vous choisissez est un commerçant indépendant, distinct de notre société et sur lequel nous n’avons aucun contrôle. En utilisant notre service de commande vous acceptez irrévocablement et fermement :<br/>
        9.3.1. que nous ne garantissons aucunement la qualité, l’adéquation et/ou le caractère comestible des produits  fournis par le restaurant ;<br/>
        9.3.2. nous insistons auprès des restaurants  afin qu’ils acceptent systématiquement toutes les réservations de nos usagers et qu’ils nous confirment rapidement ces dernières (ou leur refus), sans garantie aucune des délais de confirmation ; et nous vous transmettons rapidement leur acceptation ou refus par téléphone ou par e-mail ;<br/>
        9.3.4.	aucune des dispositions qui précèdent ne prive l’usager des droits légaux qui sont les siens vis à vis du restaurateur ou de nous-mêmes.<br/>
        9.4.	Exclusion de toute loi supplétive-interprétation de nos CGPS: nous fournissons un service accessible par internet pour lequel notre société exclue toute garantie, toute responsabilité, toute déclaration ou engagement en lien avec le fonctionnement, l’accessibilité ou la non accessibilité du site internet et du service, hors des présentes CGPS, cette exclusion n’ayant pour seules limites fixées que celles fixées par les lois impératives. En conséquence, aucune extension des termes de responsabilité par application de règles supplétives tirées du silence des présentes conditions générales ne sera applicable pour apprécier du champ de responsabilité de Lille & Bio, et tout silence des présentes CGPS au sujet d’un droit quelconque de l’usager ou du client doit être interprété comme une privation d’un tel droit, sous réserve d’un texte impératif à ce sujet.<br/><br/>

         <div id="ancre11">10.	Limitation de responsabilité</div><br/><br/>

        10.1.	Généralité : aucune clause des présentes ne peut emporter une exclusion ou une limite de notre responsabilité pour un dommage qui serait généré ou la conséquence d’une négligence, une fausse déclaration, une fraude, et en cas de dol. Néanmoins, hors de ces cas, toute action indemnitaire à notre encontre est limitée dans les termes des articles 10.2, 10.3. et 10.4 et sujette à l’article 13.<br/>
        10.2.	Exclusion d’indemnisation de certaines catégories de dommages: la réparation des préjudices suivants au titre de toute responsabilité contractuelle de notre société, est exclue, quand bien même notre responsabilité serait engagée et que le préjudice serait prévisible :<br/>
        10.2.1.	les pertes de profits, pertes de vente ou de revenus ;<br/>
        10.2.2.	les pertes ou corruption de données, d’informations, de programmes ;<br/>
        10.2.3.	les pertes d’affaires et d’opportunités professionnelles ou d’affaires ;<br/>
        10.2.4.	les pertes sur des gains, d’épargne ou de réductions potentielles ;<br/>
        10.2.5.	toute perte de savoir-faire ;<br/>
        10.2.6.	tout coût, perte indirecte et préjudices « conséquentiels », suivant la jurisprudence.<br/>
        10.3.	Coûts additionnels : vous êtes le seul responsable des coûts additionnels ou accessoires qui résulte(nt) de votre usage du  site internet , ceci incluant notamment, tout coût de communication, d’acquisition de logiciel et/ou d’équipement, réparation ou tout stockage de données que vous pourriez acquérir, louer ou utiliser sous licence ou utiliser par ailleurs. De tels coûts ne sont jamais des préjudices indemnisables.<br/>
        10.4.	Garantie : vous acceptez de défendre, indemniser et garantir Lille & Bio, et / ou ses concédant de licence et leurs affiliés respectifs, leurs directeurs, administrateurs, représentants légaux, contractants, associés, partenaires, employés de toute perte, responsabilité, contre toute demande expresse ou potentielle d’indemnisation qui serait générée ou qui résulterait du non-respect de l’une quelconque des présentes conditions d’utilisation figurant dans les CGPS et ayant emporté une infraction aux droits de Tiers, en France ou à l’étranger. Cette garantie porte sur toute demande d’indemnisation du préjudice d’une tierce partie et comprend les coûts et dépenses engagés par les garantis, ceci incluant les coûts de défense raisonnables pour assurer leur défense Lille & Bio se réserve le droit de prendre la direction d’une telle défense et de transiger sur toute matière dans laquelle elle serait appelée par un tiers pour des faits visés ci-dessus, et l’usager mis en cause s’engage à collaborer pleinement avec Lille & Bio pour mettre un terme audit litige et restera garant pour le tout.<br/><br/>

        <div id="ancre12">11.	Fin des relations</div><br/><br/>

        11.1.	Fondements de rupture / suspension : nous pouvons mettre un terme ou suspendre votre droit d’usage du site internet et de toute prestation de service à votre profit, sur simple notification par e-mail et / ou par écrit, si nous estimons :<br/>
        11.1.1	que vous avez fait usage du site en contradiction avec l’article 7.1. (Licence) ;<br/>
        11.1.2.	que vous avez violé l’article 10.2 (Liens avec d’autres sites) ;<br/>
        11.1.3.	que vous avez violé toute autre règle importante posée par les présentes CGPS ou des affaires.<br/>
        11.2.	Obligation en cas de rupture : en cas de rupture ou de suspension de votre compte, vous vous obligez expressément à détruire immédiatement toute trace papier ou fichier dont vous auriez copie au titre de votre usage du site internet.<br/><br/>
        
        <div id="ancre13">12.	Communications écrites / preuve</div><br/><br/>

        12.1.	La loi peut requérir que certaines informations ou communications soient écrites. Vous acceptez, en utilisant notre site internet  que l’essentiel de nos communications soient échangées sous format électronique. Nous vous contacterons par e-mail ou diffuserons toute information générale sur le site internet. S’agissant des rapports contractuels et de vos réservations, vous acceptez expressément que l’ensemble des échanges, notice d’information, par moyens électroniques constituent des modes de communication équivalents à des modes de communication écrite. Ceci n’affecte pas des droits légaux.<br/>
        12.2.	Le bouton "OK" associé à la procédure de double-cliquage, d'authentification et de non-répudiation constitue une signature électronique valide. Cette signature électronique a valeur entre les parties comme une signature manuscrite conformément à la loi.<br/>
        12.3.	Les informations contractuelles feront l'objet d'un courrier électronique (e-mail) de confirmation. En conservant ce mail et en l'imprimant, vous détenez une preuve de votre réservation, que nous vous invitons à conserver.<br/>
        12.4.	Vous acceptez que les copies numériques des échanges entre les parties et des détails des commandes, conservées sur un disque de stockage conforme aux normes applicables, constituent une preuve suffisante des relations entre les parties.<br/><br/>
        
        <div id="ancre14">13.	Événements extérieurs à notre contrôle</div><br/><br/>

        13.1.	Nous déclinons toute responsabilité dans le cas ou nous serions dans l’incapacité temporaire ou permanente d’exécuter totalement ou partiellement notre prestation de service ou que des prestations réservées sur le site internet ne pouvaient être livrées pour une cause, un ou des événement ou des circonstances empêchant leur exécution et extérieurs à notre contrôle « cas de force majeure ».<br/>
        13.2.	Les « cas de force majeure » incluent, sans caractère exhaustif des exemples ci-dessous, tout événement, toute circonstance, omission, ou accident en dehors du contrôle de notre société (mais pouvant survenir dans notre société) dont, par exemple :<br/>
        13.2.1.	grèves, lock-out, et toute autre action désorganisant les entreprises qu’il s’agisse de notre société, du restaurant ou d’une autre Société rendant impossible la réalisation de nos prestations ;<br/>
        13.2.2.	tout coup d’état, état d’urgence, ou crise civile majeure, émeutes, invasion, attaque terroriste ou menace d’attaque terroriste, guerre (déclarée ou état de guerre) et état de préparation de guerre ;<br/>
        13.2.3.	incendie, explosion, ouragan, foudre, déluge, tremblement de terre, épidémie, chutes de neiges ou toute autre situation de catastrophe naturelle et de désastre naturel (même l’état de catastrophe naturelle non déclaré) ;<br/>
        13.2.4. impossibilité d’utiliser les moyens de télécommunication publics et/ou privés ;<br/>
        13.2.6.	les réglementations nouvelles et toute décision d’une autorité constituée qui restreindrait, interdirait ou rendrait impossible la poursuite de notre exploitation.<br/>
        13.3.	L’exécution d’une quelconque obligation prévue par les présentes CGPS et pour toute réservation effectuée sur le site internet sera réputée suspendue pendant toute la période d’occurrence de la circonstance constituant une « force majeure » et se poursuivra tant que ces circonstances existent et à l’issue de cette période, durant un délai raisonnable pour permettre une reprise normale de l’exécution des prestations. Nous nous efforcerons, néanmoins, de maintenir nos services autant que possible dans des situations apparentées à des situations de « force majeure » mais ne rendant pas strictement impossible l’exécution de nos prestations.<br/><br/>

        <div id="ancre15">14.	Dispositions additionnelles</div><br/><br/>

        14.1.	Politique de respect de la vie privée : nous nous engageons à protéger vos informations privées et la sécurité de ces informations. <br/>
        14.2.	Autres dispositions : nous vous invitons également à consulter notre « politique d'utilisation des cookies » pour toute information concernant l'usage des cookies ou technologies similaires sur notre site. Toute ces dispositions font partie intégrante de nos conditions générales CGPS, même si elles sont rassemblées dans des chapitres séparés afin d’en assurer une meilleur visibilité.<br/>
        14.3.	Au cas où une ou plusieurs clauses des présentes étaient jugée comme non valide et nulle par une juridiction quelconque, l’intégralité des autres clauses demeureront de plein effet.<br/>
        14.4.	Accord intégral : les CGPS constituent, avec leur annexe et tout document visé, l’intégralité des conditions qui s’appliquent à nos relations avec tout usager du site internet et elles s’appliquent de préférence à toute autre disposition antérieure, toute discussion ou accord antérieur, tous pourparlers, correspondance, négociation qui seraient intervenus avant la présente diffusion des CGPS ou toutes conditions générales de services ou d’usage antérieures.<br/>
        14.5.	Aucune tolérance de l’une des parties pour la mise en œuvre d’une ou de plusieurs des conditions des présentes ne peut jamais s’interpréter comme un accord tacite ou une renonciation à l’application des présentes.<br/>
        14.6.	Contrat intuitu personae : aucun droit et aucune obligation résultant des présentes ne peut être transféré, cédé, transmis à tout tiers, par un usager sans notre consentement préalable et exprès. Réciproquement, nous ne pouvons céder des éléments des présentes qu’à une personne à laquelle nous sommes affiliée ou qui est notre affiliée ou avec laquelle nous constituons une joint-venture pour exploiter notre fonds, que nous en fassions l’acquisition ou que nous soyons acquis.<br/>
        14.7.	Les noms des articles et des chapitres: les noms sont descriptifs et ne sont indiqués que pour le confort de lecture et ne peuvent avoir aucune incidence sur le contenu et l’interprétation des dispositions des conditions générales, dont les termes seuls doivent présider à l’interprétation.<br/><br/>

        <div id="ancre16">15.	Loi applicable et competence juridictionnelle</div><br/><br/>

        15.1.	Ces CGPS sont soumises au droit français. Tout différend relatif à la validité, l’interprétation, le respect ou toute violation des présentes CGPS est soumis à la juridiction des tribunaux français. Il en est de même de toute prestation de service soumise à ces CGPS et de toute action en responsabilité contractuelle, délictuelle ou légale engagée à l’encontre de Lille & Bio en lien avec l’usage du site internet.<br/><br/>

        <div id="ancre17"><h2 class="soustritre">II.	POLITIQUE DE CONFIDENTIALITE ET DE PROTECTION DE LA VIE PRIVEE</h2></div><br/><br/> 

        Nous nous engageons à protéger la vie privée de tous les visiteurs du site internet. S'il vous plaît, prenez connaissance de notre politique de confidentialité qui explique comment nous utilisons et protégeons vos informations.<br/>
        En visitant et/ou en utilisant le Service fourni par notre Site internet, vous acceptez la collecte, l'utilisation et le transfert de vos informations dans les limites et le cadre défini dans la présente politique.<br/><br/>

        <div id="ancre18">1.	Nature des renseignements recueillis</div><br/><br/>

        1.1. Lorsque vous visitez le site internet ou quand vous utilisez la fonction de réservation, vous pouvez être invité à fournir des informations sur vous-même, y compris votre nom, vos coordonnées (numéros de téléphone fixe et mobile et adresses e-mail). Nous pouvons, en dehors de ces strictes informations relatives à la commande également recueillir des informations sur votre utilisation du site internet et des services et des informations à partir de matériaux (tels que les messages et les commentaires) que vous publiez sur le site internet et les e-mails ou des lettres que vous nous envoyez.<br/>
        1.2.	Notre politique de confidentialité s’applique chaque fois que vous accédez au site internet Lille & Bio et ce quel que soit le moyen technique mis en œuvre pour ce faire, tels, notamment, que téléphone mobile, tablette ou autre dispositifs / technologies. Dans ce cas, nous pourrons collecter des informations techniques de votre appareil mobile ou votre utilisation du site internet ou du service par le biais d'un appareil mobile, par exemple, les données de localisation et des caractéristiques de votre appareil, et les données de performance sur votre appareil, le système de support et d’ exploitation et le type de connexion, y compris l'adresse IP, l'interaction avec d'autres technologies telles que l'utilisation de la technologie NFC tags ou codes QR. Sauf si vous avez choisi de rester anonyme par votre appareil et / ou les paramètres de la plate-forme, ces informations peuvent être collectées et utilisées automatiquement si vous utilisez le site internet Lille & Bio via votre appareil(s) mobile(s).<br/><br/>

         <div id="ancre19">2.	Utilisation de vos informations</div><br/><br/>

        2.1.	Les informations collectées nous permettent de vous donner accès aux parties pertinentes du site Web et de fournir le service avec plus de confort et de rapidité. Il nous permettra également de vous contacter (nous et/ou le « restaurant ») si nécessaire pour vous apporter toute information sur une réservation ou nos services. Par exemple vos informations seront utilisées pour vous fournir des mises à jour de statut ou d'autres informations au sujet de votre réservation par e-mail, téléphone fixe ou mobile, messagerie mobile (par exemple SMS, MMS, etc.). Nous pouvons analyser et utiliser les informations que nous recueillons pour gérer, soutenir, améliorer et développer notre entreprise, à d'autres fins que statistiques ou analytiques et pour nous aider à prévenir les fraudes. Le cas échéant, maintenant et dans l'avenir, vous avez la possibilité d'exprimer vos préférences sur l'utilisation de vos données comme indiqué dans cette politique de confidentialité, et limiter l’utilisation de données en fonction de la méthode d'utilisation du Service.<br/>
        2.2.	Nous pouvons utiliser vos informations pour connaître votre point de vue sur le service et pour vous informer de temps en temps des changements importants ou des développements vers le Site ou le Service.<br/>
        2.3.	Lorsque vous avez indiqué que tel est le cas, vous acceptez que nous puissions utiliser vos informations pour vous faire connaître nos autres produits et services susceptibles de vous intéresser, y compris des services qui peuvent faire l'objet de marketing direct et nous pouvons vous contacter pour faire par courrier, téléphone , messagerie mobile (par exemple SMS, MMS , etc.) ainsi que par e-mail .<br/>
        2.4.	Lorsque vous avez indiqué que tel est le cas, vous acceptez que nous puissions également partager des informations avec des tiers (y compris ceux dans les secteurs de l'alimentation, des boissons, des loisirs, du marketing et de la publicité) et utiliser vos informations afin de vous informer sur les biens et services qui peuvent vous intéresser (par courrier, téléphone , messagerie mobile (par exemple SMS, MMS , etc.) et / ou e-mail ) et pour nous aider à analyser les informations que nous recueillons afin que nous puissions gérer, soutenir, améliorer et développer nos services et la qualité des prestations.<br/>
        2.5.	Si vous ne souhaitez pas que nous utilisions vos données de cette façon, ou que vous changiez d’avis, indiquez le nous sans délai en utilisant les coordonnées indiquées au paragraphe 7 ci-dessous et/ou nous modifierons votre profil en conséquence dans des délais raisonnables.<br/><br/>

        <div id="ancre20">3.	Divulgation de vos informations</div><br/><br/>

        3.1.	Les informations que vous nous fournissez seront transférées et stockées sur nos serveurs qui peuvent être dans l'espace économique européen ou à l’extérieur, et elles peuvent être consultées ou remis à notre personnel travaillant hors de France et à des tiers qui agissent pour nous aux fins énoncées dans la présente politique ou à d'autres fins qui serait notifiées ultérieurement. Dans les pays extérieurs à l'espace économique européen, qui ne disposent pas toujours d’un encadrement juridique approprié, nous serons attentifs à la mise en œuvre des règles de protection des données telles qu’elles sont arrêtées par la CNIL.<br/>
        3.2.	Les tiers avec qui nous partageons vos informations peuvent notamment avoir diverses activités telles que la fourniture de services de soutien pour nous. En outre, nous pouvons avoir besoin de fournir vos informations à des restaurants auprès desquels vous avez réservé. En soumettant vos données personnelles, vous acceptez ce transfert, stockage ou traitement. Nous prendrons toutes les mesures raisonnablement nécessaires pour assurer que vos données sont traitées en toute sécurité et conformément à la présente Politique de confidentialité.<br/>
        3.3.	Si vous y avez consenti, nous nous autorisons à remettre vos coordonnées à des tiers soigneusement sélectionnés y compris les entreprises de publicité, pour la commercialisation de services qui peuvent être d'intérêt pour vous. Ils peuvent vous contacter par courrier, téléphone, messagerie mobile (par exemple SMS, MMS, etc.) ainsi que par e-mail. Si vous changez d'avis, vous pouvez vous désinscrire en utilisant les coordonnées indiquées au paragraphe 7 ci-dessous et / ou en modifiant votre profil en conséquence.<br/>
        3.4.	Si notre entreprise entre dans tout accord par lequel elle serait fusionnée, elle serait vendue, elle acquerrait ou exploiterait en commun sa présente clientèle avec une autre entité juridique ou commerciale, vos informations peuvent être divulguées ou transférées à nos nouveaux partenaires commerciaux, nouveaux propriétaires ou leurs conseillers.<br/>
        3.5.	Nous pouvons utiliser les informations que vous nous fournissez pour respecter toute obligation légale ou réglementaire de divulgation à laquelle nous serions soumis par ordre d’une autorité légitime administrative ou judiciaire, soit pour faire respecter les CGPS et tout autre accord ou contrat, ou pour protéger nos droits ou les droits des restaurants ou d'autres tiers. Cela comprend l'échange d'informations avec d'autres entreprises et d'autres organisations à des fins de protection contre la fraude, et la prévention des incidents de paiement ou des usurpations d’identité.<br/><br/>

         <div id="ancre21">4.	Sécurité et conservation des données</div><br/><br/>

        4.1.	Nous prenons des mesures pour protéger vos renseignements contre l'accès non autorisé et contre tout traitement illicite de vos données, la perte accidentelle, destruction et tout dommage causé à vos données. Nous conserverons vos informations pendant une période raisonnable, ou aussi longtemps que la loi l'exige.<br/>
        4.2.	Lorsque vous avez choisi un mot de passe qui vous permet d'accéder à certaines parties du site, vous êtes responsable du maintien de la confidentialité de ce mot de passe. Nous vous conseillons de ne pas partager votre mot de passe avec quiconque. Nous ne serons pas responsables des transactions non autorisées effectuées en utilisant votre nom et mot de passe sauf s’il est démontré que cette divulgation du mot de passe résulte de notre négligence ou d’un tiers dont nous serions personnellement responsables.<br/>
        4.3.	La transmission d'informations par internet n'est pas entièrement sécurisée. Bien que nous prenions des mesures pour protéger vos informations, nous ne pouvons pas garantir la sécurité de vos données transmises sur le site internet. Toute transmission intervient à vos risques et périls. Une fois que nous avons reçu vos informations, nous utiliserons des procédures strictes et des dispositifs de sécurité de bon standard pour tenter d'empêcher l'accès non autorisé.<br/><br/>

        <div id="ancre22">5.	Accès et mise à jour - droit de communication - droit de rectification</div><br/><br/>

        5.1.	Vous avez le droit de recevoir un relevé des informations que nous détenons à votre sujet sur des fichiers informatiques « demande d'accès » et de nous demander d'apporter des modifications afin de s'assurer qu'elles soient exactes et à jour. Pour toute demande de communication, utilisez les coordonnées indiquées au paragraphe 7 ci-dessous, et veuillez nous fournir une preuve de votre identité (par exemple une photocopie de vos documents d'identité). Dans le cas où vous faites une demande d'accès, nous nous réservons le droit (sous réserve de la loi applicable) de percevoir une taxe pour couvrir nos frais en vous fournissant les détails des informations que nous détenons sur vous. Si une de ces informations vous paraît erronée, vous pouvez nous faire une demande écrite de rectification, qui devra nous être adressée par courrier aux coordonnées indiquées à l’article 7 ci-dessous, avec copie d’une pièce d’identité et de tout élément pertinent pour démontrer le caractère erroné de nos fichiers<br/><br/>
        
         <div id="ancre23">6.	Modifications de notre politique de protection des renseignements personnels</div><br/><br/>
        6.1.	Toute modification de notre Politique de confidentialité sera affichée sur le site internet ou, le cas échéant, par voie de notification e-mail.<br/><br/>
        
        <div id="ancre24">7.	Contact</div><br/><br/>

        7.1.	Tous les commentaires, questions et demandes relatives à l'utilisation de vos informations sont les bienvenues et doivent être adressées à Lille & Bio, [adresse]<br/>
        7.2.	Le représentant CNIL de la société est : Jessy Mandilou, Responsable Administrative.<br/>
</p>
</section>

{% endblock %}