{% extends 'layout_twocolumn.html.twig' %}

{% block aside %}

<!--Formulaire-->

<aside class="reservation">

    <h1>Filtres</h1>

    <ul>
    	<li>Lorem ipsum.</li>
    	<li>Sint, aut!</li>
    	<li>Commodi, a.</li>
    	<li>Dicta, ratione.</li>
    	<li>Sed, praesentium!</li>
    	<li>Quam, fugiat.</li>
    	<li>Omnis, dolorum?</li>
    </ul>

</aside>

{% endblock %}

{% block content %}

{{ dump(listeRestau) }}

{% endblock %}