@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'SegoePrint';
  src: 	url('/LilleBio/web/font/SegoePrint.eot?#iefix') format('embedded-opentype'),
  		url('/LilleBio/web/font/SegoePrint.woff') format('woff'),
  		url('/LilleBio/web/font/SegoePrint.ttf')  format('truetype'),
  		url('/LilleBio/web/font/SegoePrint.svg#SegoePrint') format('svg');
  font-weight: normal;
  font-style: normal;

}
/*-----Body-----*/
body{
	font-family: Arial, Helvetica, sans-serif;
	color: #252628;
}
/*----- Layout -----*/
#container{
	max-width: 991px;
	margin: auto;
}
a{
	text-decoration:none;
	color: #252628;
}
a:hover{
	color : black;
}
a.btn, input.btn{
	text-decoration: none;
	padding: 10px 15px;
	border: 1px solid #339933;
	background-color: #339933;
	color: #fff;
}a.btn:hover, input.btn:hover{
	cursor: pointer;
}
.form_table, .form_table tr, .form_table td, .form_table th{
	border: none;
}
span.green{
	color: #339933;
}

/*===========================*/
/*========== HEADER =========*/
/*===========================*/
header#header{
	background-color :#339933;
	width:991px;
	height : 74px;
}
header#header h1{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-left: 35px;
	padding-top: 10px;
	color: #fff;
}
header#header h1 span.segoe{
	font-family: 'SegoePrint';
}

/*------ NAV -------*/

nav{
	font-family:  Arial, Helvetica, sans-serif;
	color : white;
	text-align: right;
	padding-right: 35px;
	padding-top: 20px;
}
nav a{
	margin-right: 15px;
	padding: 15px 10px;
	transition: background-color 0.4s;
}
nav a:hover{
	background-color: #fff;
	color: #339933;
	transition: background-color 0.4s;
}

/*-----Les liens-----*/

header a, footer a {
	text-decoration:none;
	color : white;
}header a:hover{
	color : white;
}
/*===========================*/
/*======= PAGE D'ACCUEIL ====*/
/*===========================*/

.boutton1{
	 font-family: Arial,sans-serif;
     font-size: 1.1em;
     width: 200px;
     height: 30px;
     padding-top: 7px; /*permet le centrage vertical*/
     text-align: center;
     color: white;
     background: #339933;
}

.boutton1:hover{
     color:black;
     background: #339933;
}

.boutton1:active{
     color: white;
     background : black;
}

.titre {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color :#339933;
	text-align: center;
	margin-top: 35px;
}

.titre.accueil{
	margin-top: 70px;
}

.soustitre{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:  0.9em;
	font-weight: bold;
	color :  black;
}

/*-----Moteur de recherche-----*/

#recherche {
	height: 478 px;
	background-image: url("/LilleBio/web/img/banniere_moteur.jpg");
	background-repeat: no-repeat;
	text-align: center;
}

#logo_lille_bio{
	margin-top: 35px;
}

#slogan{
	font-family: "SegoePrint";
	font-weight: bold;
	font-size: 3em;
	text-shadow: 1px 1px #252628;
	color : white;
	letter-spacing: -4px;
	padding-bottom: 80px;
}

/*---- Section Trois derniers ----*/
section#dernier{
	text-align: center;
}
section#dernier .btn{
	margin-top: 35px;
}
.restau h4{
	margin-bottom: 10px;
}
.restau h4 a{
	color :#339933;
}
p.lastRestau{
	text-align: left;
	margin-top: 3px;
}

/*---- Section COMMENT ------*/

#comment img{
	max-width: 100px;
	max-height: 100px;
}

/*----- Section RESTAURATEUR -------*/

#restaurateur{
	text-align: center;
}
#restaurateur img{
	margin-bottom: 35px;
}
.restau h4{
	text-align: center;
	color: #339933;
}

/*===================================*/
/*======= PAGE AIDE UTILISATEURS ====*/
/*===================================*/
section.aide{
	margin-top: 25px;
}
a.aide{
	text-align: center;
	margin-bottom: 50px;
}
h1.titre.aide{
	margin-top: 35px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 3.2em;
}
h2.aide{
	color: #339933;
}
h4.aide{
	font-weight: normal;
	font-size: 1em;
}
hr.aide{
	margin-bottom: 60px;
}
.aide_retour_haut{
	float: right;
	color: #339933;
	text-decoration: underline;
	margin-top: 10px;
}

<<<<<<< HEAD
/*------ formulaire------*/

input {
  font-family : "Trebuchet MS";
  font-size   : 100%;
  background-color:  white;
=======
/*=====================================*/
/*=========== MES RESERVATIONS ========*/
/*=====================================*/
.titre.resa{
	margin-top: 50px;
}
.mesResa{
	margin-top: 50px;
	margin-bottom: 100px;
}.mesResa .btn{
	margin-top: 35px;
>>>>>>> 66bc655135f1b3265cc61257c73b89562334855e
}

/*=====================================*/
/*=========== PAGE RESTAURANT =========*/
/*=====================================*/
section.restau_container{
	padding: 15px;
}section.restau_container h1{
	color: #339933;
	text-align: center;
}section.restau_container h3{
	font-size: initial;
	text-align: justify;
	letter-spacing: 2px;
	text-align: center;
}section.restau_container table,section.restau_container table tr, section.restau_container table, td{
	border: none;
}section.restau_container table tr{
	border-bottom: solid 1px #BBC5B8;
}section.restau_container table .prix{
	text-align: right;
}
aside.reservation{
	margin-top: 25px;
	border: 1px solid #339933;
	padding: 2px;
}aside.reservation h1{
	margin: -2px;
	font-size: 1.2em;
	text-align: center;
	background-color: #339933;
	color: #fff;
}aside.reservation form{
	margin-top: 20px;
}aside.reservation form>input.btn{
	display: block;
	margin: 20px 0px 0px 0px;
	width: 100%;
}

/*========================================*/
/*=========== ESPACE RESTAURATEUR ========*/
/*========================================*/
section>header{
	color: #339933;
}


/*===========================*/
/*=========== FOOTER ========*/
/*===========================*/

footer#footer{
	background-color: #339933 !important;
	width: 991px;
	height : 74px;
}


