@charset "utf-8";
/* CSS Document */

/*----- Layout -----*/
#container{
	max-width: 991px;
	margin: auto;
}
/*-----Parties accueil-----*/

@font-face {
  font-family: 'SegoePrint';
  src: 	url('/LilleBio/web/font/SegoePrint.eot?#iefix') format('embedded-opentype'),
  		url('/LilleBio/web/font/SegoePrint.woff') format('woff'),
  		url('/LilleBio/web/font/SegoePrint.ttf')  format('truetype'),
  		url('/LilleBio/web/font/SegoePrint.svg#SegoePrint') format('svg');
  font-weight: normal;
  font-style: normal;

}
.boutton1{
	 font-family: Arial,sans-serif;
     font-size: 1.1em;
     width: 200px;
     height: 30px;
     padding-top: 7px; /*permet le centrage vertical*/
     text-align: center;
     color: white;
     background: #339933;
}

.boutton1:hover{
     color:black;
     background: #339933;
}

.boutton1:active{
     color: white;
     background : black;
}

.titre {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:  1.2em;
	font-weight: bold;
	color :#339933;
}

.soustitre{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:  0.9em;
	font-weight: bold;
	color :  black;
}

#comment img{
	max-width: 100px;
	max-height: 100px;
}


/*-----Les liens-----*/

a {
		text-decoration:none;
		color : black;
	}


header a, footer a {
		text-decoration:none;
		color : white;
	}

a:hover{
	color : black;
}


/*-----Body-----*/


body{
	font-family: Arial, Helvetica, sans-serif;
}



/* -----Header----- */


header{
	background-color :#339933;
	width:991px;
	height : 74px;
}


nav{
	font-family:  Arial, Helvetica, sans-serif;
	color : white;
}


/*-----Moteur de recherche-----*/

#recherche {
	height: 478 px;
	background-image: url("/LilleBio/web/img/banniere_moteur.jpg");
	background-repeat: no-repeat;
	text-align: center;
}

#logo_lille_bio{
	margin-top: 35px;
}

#slogan{
	font-family: "SegoePrint";
	font-weight: bold;
	font-size: 3em;
	color : white;
	letter-spacing: -4px;
	padding-bottom: 80px;
}

/*----- Page aide utilisateurs -----*/
section.aide{
	margin-top: 25px;
}
a.aide{
	text-align: center;
	margin-bottom: 50px;
}
h1.titre.aide{
	margin-top: 35px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 3.2em;
}
h2.aide{
	color: #339933;
}
h4.aide{
	font-weight: normal;
	font-size: 1em;
}
hr.aide{
	margin-bottom: 60px;
}

/*------ formulaire------*/

input {
  font-family : "Trebuchet MS";
  font-size   : 100%;
  background-color:  white;
}


/*-----Footer----- */

footer{
	background-color :#339933;
	width:991px;
	height : 74px;
}


