<!DOCTYPE html>
<html>
<head>

	<title>Modification</title>

</head>

<body>


	<h1 class="réservation">Modifiez votre réservation</h1>

	<h3 class="Modification de votre résa">Modification de votre réservation</h3>

	<form action="" class ="Modification réservation">

		<table class="form table">

			<tr>

				<td label for = "numresa">Entrez votre numéro de réservation></label></td>

			</tr>



		</table>

	<colgroup span="4" style="background : black">

</colgroup>

<p>Modification de réservation</p>

<tr>
<td>

</td>
</tr>

</body>

</html>